$tcblue: #2F9BE9;
$font-price: #FFAD33;
$green: #12B23A;
$red: #FF3A33;
$tcgreen: #A0E75A;
$gold: #c8954d;

$bg-white: #FFFFFF;
$bg-grey: #F5F5F5;

$line-grey: #E5E5E5;

$orange: #FF9900;
$pirce-free: #12B23A;

$font-default: #4d4948;
$font-dark: #808080;
$font-light: #CCCCCC;
$font-gray: #999999;
